@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  overflow: hidden;
}